body{
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App{  
  padding: 0.8rem;
  box-sizing: border-box;
}

.App-heading{
  text-align: center;
  margin: 1.2rem 0rem;
}

.App-form{
  width: 100%; 
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}


#my-input{
  font: inherit!important;
}

.itemList{
  margin: 0.8rem 0;
  width: 100%;
}